p {
  margin-top: 0;
  margin-bottom: 20px;
}

ul,
ol,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: $baseFont;
  color: #fff;
  text-transform: none;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 22px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 16px;
}

a {
  color: $linkColor;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}