.ui-btn {
    display: inline-block;
    height: 43px;
    line-height: 41px;
    width: 100%;
    background-color: $blue;
    padding: 0px 15px;
    font-family: $baseFont;
    font-weight: 400;
    font-size: rem(13);
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s transform, .3s box-shadow;
    border-radius: 4px;
    &:hover {
        transform: translate3d(3px, -3px, -3px);
        box-shadow: -3px 3px 10px 0px $blue;
    }
    &_more {
        background-color: #fff;
        color: #2A2B30;
        border-color: #6F6D7B;
       
    }
}

.ui-field {
    &__input {
        display: block;
        height: 48px;
        // line-height: 38px;
        width: 100%;
        max-width: 100%;
        background: #DEDEE0;
        padding: 10px;
        font-family: $baseFont;
        font-weight: 400;
        font-size: rem(18);
        color: #272733;
        border: 1px solid #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: .3s border, .3s color;
        border-radius: 3px;
        outline: none;
        -webkit-appearance: none;
        &::placeholder {
            font-weight: 400;
            color: #272733;
        }
    }
    &-range {
        &__header {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 16px;
        }
        &__title {
          font-size: rem(18);
        }
        &__input {
            -webkit-appearance: none;
            position: relative;
            width: 100%;
            height: 8px;
            border-radius: 5px;
            background: rgba(255,255,255,.7);
            outline: 0;
            top: -4px;
            
            border: 1px solid #fff;
            -webkit-transition: opacity .2s;
            transition: opacity .2s;
            &::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #42a9ed;
                border: 3px solid #286690;
                cursor: pointer
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #42a9ed;
                border: 3px solid #286690;
                cursor: pointer
            }   
        }
    }
    &-file {
      &__label {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 48px;
        line-height: 44px;
        width: 100%;
        border: 2px solid #3e9cdc;
        color: #272733;
        background-color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: rem(15);
        font-weight: 600;
        border-radius: 3px;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
        gap: 10px;
        margin: 0 auto;
        max-width: 370px;
         @media(max-width:576px) {
                max-width: 100%;
            }
        &-icon {
          width: 20px;
          height: 20px;
          transition: fill .3s;
        }
        &:hover {
          color: $blue;
          .ui-field-file__label-icon {
            fill: $blue;
          }
        }
      }
      &__input {
        display: none;
      }
    }
}


.ui-select{
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  
  .ui-select-label {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: #272733;
    padding: 10px;
    font-size: rem(18);
    font-weight: 400;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s all ease-in-out;
    &_open {
        background-color: #3B3C4C;
        border-color: #3B3C4C #3B3C4C transparent #3B3C4C;

        color: #fff;
        border-radius: 0px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    &__icon {
        width: 20px;
        height: 20px;
        fill: #000;
        &_open {
            fill: #fff;
            transform: rotate(180deg);
        }
    }
  }
  
  .ui-select-list{
    position: absolute;
    width: 100%;
    background-color: #272733;
    color: #fff;
    border: 1px solid #3B3C4C;
    border-top: none;
    padding: 0 10px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
    border-radius: 3px;
  }
  
  .ui-select-list__option{
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: .3s ease-in-out;
  }
  
  .ui-select-list__option:hover,
  .ui-select-list__option.selected{
    color: #42A9ED;
  }
  
  .ui-select-list::-webkit-scrollbar{
    width: 7px;
    border-radius: 3px;
    background-color: #3D4050;
  }
  
  .ui-select-list::-webkit-scrollbar-thumb{
    background: #3E9CDC;
    border-radius: 3px;
  }
  
  .ui-select-list.active{
    height: 200px;
  }