/* container */
$widthContainer: 1212px;
$paddingContainer: 20px;

/* base typography */
$baseFont: 'Lato', sans-serif;
$ralewayFont: 'Raleway', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #fff; 
$black: #10101D;
$blue: #3E9CDC;
$silver: #C3C3C3;
$grey: #BBBBBB;

