.header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(16, 16, 29, 0.9);
    width: 100%;
    padding: 33px 0px;
    z-index: 99;
     @media(max-width:1024px) {
        padding: 15px 0px;
        }
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
    }
    &__logo {
        font-family: $ralewayFont;
        font-size: rem(28);
        font-weight: 800;
         @media(max-width:576px) {
                font-size: rem(22);
            }
    }
    
}
.menu {
        @media(max-width:1024px) {
            position: absolute;
            height: calc(var(--vh, 1vh) * 100);
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            right: 0;
            top: 0;
            opacity: 0;
            background-color: $blue;
            z-index: 1;
            visibility: hidden;
            transform: translateX(200px);

        }
         @media(max-width:576px) {
                width: 100%;
            }
        &__item{
            display: inline-block;
            margin-right: 60px;
             @media(max-width:1024px) {
                    display: block;
                    margin-bottom: 20px;
                    margin-right: 0;
                    text-align: center;
                }
            &:last-child {
                margin-right: 0;
            }
        }
        &__item-link {
            font-weight: 600;
            font-size: rem(13);
            transition: 0.2s ease-in-out;
            border-bottom: 0px solid transparent;
            &:hover {
                color: $blue;
                 @media(max-width:1024px) {
                        color: #fff;
                        border-bottom: 1px solid #fff;
                    }
            }
        }
        &_open {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            transition: .3s ease-in-out;
            
        }
        &-toggler {
            position: relative;
            display: none;
            flex: 0 0 44px;
            max-width: 44px;
            height: 44px;
            border-radius: 100%;
            border: 1px solid $blue;
            z-index: 1;
             @media(max-width:1024px) {
                    display: block;
                }
            &__icon {
                position: absolute;
                left: 0;
                top: 0;
                height: 44px;
                width: 44px;
            }
            &__line {
                position: absolute;
                left: 10px;
                right: 10px;
                height: 1px;
                margin-top: -0.5px;
                background-color: #FFF;
                top: 50%;
                transition: transform .3s, background-color .3s;
                &-top {
                    transform: translate(0px, -8px);
                    
                }
                &-middle {
                    transform: translate(0px, 0px);
                }
                &-bottom {
                    transform: translate(0px, 8px);
                }
        
            }
            &_opened {
                display: inline-block;
                .menu-toggler__icon{
                    transform: rotate(90deg);
                    transition: transform 0.3s 0.15s, border 0.3s 0s;
                }
                .menu-toggler__line-top {
                    transform: translate(0px, 0px) rotate(45deg);
                }
                .menu-toggler__line-middle {
                    opacity: 0;
                }
                .menu-toggler__line-bottom {
                    transform: translate(0px, 0px) rotate(-45deg);
                }
            }
        }
    }
