.ordering {
    padding: 120px 0px 150px 0px;
    background-image: url(./../images/bg/bcg-ordering.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     @media(max-width:768px) {
            padding: 60px 0px 70px 0px;
        }
    &-header {
        max-width: 700px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
         @media(max-width:768px) {
                margin-bottom: 40px;
            }
        &__title {
            font-size: rem(36);
            font-weight: 700;
            margin-bottom: 30px;
            text-transform: uppercase;
                @media(max-width:576px) {
                    font-size: rem(30);
                    margin-bottom: 20px;
                }
                @media(max-width:400px) {
                    font-size: rem(24);
                }
        }
        &__subtitle {
            color: $grey;
            font-size: rem(18);
        }
    }
    &-form {
        &__wrapper {
            margin-bottom: 50px;
        }
        &__submit {
            display: block;
            max-width: 370px;
            margin: 0 auto;
            font-size: rem(15);
            font-weight: 600;
             @media(max-width:576px) {
                    max-width: 100%;
                }
        }
    }
   
    &-steps {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        margin-bottom: 80px;
        @media(max-width:1024px) {
            margin-right: -20px;
            margin-left: -20px;
            margin-bottom: 40px;
            padding: 0 20px;
        }
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0;
            height: 0;
          }
    }
    &-steps__item {
        display: inline-block;
        text-align: center;
        flex: 1 0 auto;
        max-width: 210px;
        padding: 0 10px;
        &-icon {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 5px solid #286690;
            background-color: $blue;
            margin-bottom: 20px;
             @media(max-width:576px) {
                    width: 80px;
                    height: 80px;
                }
   
        }
        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        &__name {
            max-width: 180px;
            margin: 0 auto;
        }
        &:first-child {
            .ordering-steps__item-icon {
                    &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 14px);
                    transform: translate(0%,-50%);
                    width: var(--dots);
                    height: 6px;
                    background-image: url(./../images/icon/dots.svg);
                    background-repeat: round;
                }
                &::before {
                    display: none;
                }
            }
        }
        &:last-child {
            .ordering-steps__item-icon {
                &::after {
                    display: none;
                }
            }
        }
    }
}

